<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>URL Shortener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "mini_url/style/main.css" %}" />
</head>
<body>
    <div id="header">
        <p id="logo"><i>Younes</i></p>
        <p id="righten">URL Shortener</p>
    </div>
    <div id="add">
        <!--<form action="URL COMES HERE"></form>-->
    </div>
    <form action="{{hello}}" method="POST" align="center">
        {% csrf_token %}
        {{formular.as_p}}        
    </form>
    <table align="center">
        <th>
            <td>Long URL</td>
            <td>Short Form</td>
            <td>Date</td>
        </th>
        {% for element in Container %}
        <tr>
            <td>{{element.long}}</td>
            <td>{{element.short}}</td>
            <td>{{element.date}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>